@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    var contact = Model.Content.Site().FirstChild("contact");
}

@*Thông tin liên hệ*@
@if (contact != null)
{
    <ul class="list-menu">
        <li>@contact.GetPropertyValue("companyName")</li>
        <li><a href="@contact.Url"><i class="fa fa-map-marker"></i> @contact.GetPropertyValue("local")</a></li>
        <li><a href="tel:@contact.GetPropertyValue("phoneNumber")"><i class="fa fa-phone"></i> @contact.GetPropertyValue("phoneNumber")</a></li>
        <li><a href="mailto:@contact.GetPropertyValue("email")"><i class="fa fa-envelope"></i>@contact.GetPropertyValue("email")</a></li>
    </ul>
}

@*copyright*@
<p>Copyright © @DateTime.Now.Year. All Right Reserved. <a href="http://thietkewebhcm.com/" target="_blank">Thiet ke web HCQ</a></p>